@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(fonts/stylesheet.css);

:root {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  color: var(--foreground);
  background: var(--background);

  font-family: 'Graphik LCG', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.25px;

  position: relative;
  margin: 0px;
}

.h1 {
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1px;
}

.h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.5px;
}

.h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -0.35px;
}

.h4 {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -0.5px;
}

.bold-body {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0px;
}

.small-body {
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: -0.25px;
}

.small-body-bold {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.25px;
}

.extra-small-body {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.25px;
}

.extra-small-bold-body {
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.25px;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
